NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=seth9911
NEO4J_DATABASE=ecoint

GEMINI_API_KEY=
LLM_MODEL_NAME=gemini-flash-lite-latest
NVIDIA_API_KEY=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
